h1 {
	display: block;
	color: Blue;
	font-weight: bold;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}

h2 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}

/*nav a {
	color:green;
	display: inline;
	position: absolute;

}*/

.current {
	border: 1px solid #0006CC;
	width: 20%;
	font-style: italic;
}

ul {
  list-style-type: none;
}

.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  border: solid 2px #0006CC;
}

.picture {
border: 1px solid;
width: 100%; /*suggest a min-width & min-height*/
}

.projectpic 

.pheader {
	margin-top: 50px
}

.container {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 1fr 1fr 1fr;
}

a.skip {
	position: relative;
	left: -1000px;
	top: auto;
	width: 1px;
	height: 1px;	
	overflow: hidden;
	display: block;
}

a.skip:focus {
	left: 500px;
	width: auto;
	height: auto;
}